################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/NSnipes/bin/
/NSnipes/obj/
/NSnipes/.DS_Store
/NSnipes.GrpcServer/bin/
/NSnipes.GrpcServer/obj/
.DS_Store
nsnipes.json

# Build results
**/bin/
**/obj/
